volumes:
  postgres-data:
    external: true
services:
  wiz-quiz:
    build:
      context: api
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./api:/app
    environment:
      DATABASE_URL: postgresql://wizquizdb:password@postgres/wizquizdb
      WAIT_HOSTS: postgres:5432
      PORT: 8000
      SIGNING_KEY: 5v8x/A?D(G+KbPeShVmYq3t6w9z$B&E)

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_WIZQUIZ_API_HOST: http://localhost:8000

  postgres:
    build:
      context: ./relational-data
      dockerfile: ./Dockerfile.dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_MULTIPLE_DATABASES=wizquizdb
      - POSTGRES_PASSWORD=password
    ports:
      - 15432:5432
