.leaderboard-container {
  margin: auto;
  padding: 50px;
  max-width: 800px;
}

.leaderboard-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}

.leaderboard-table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  border: 2px solid #ffffff;
  text-align: left;
}

.leaderboard-table th {
  background-color: #d4caca;
}

.leaderboard-rank {
  width: 5%;
}

.leaderboard-username {
  width: 50%;
}

.leaderboard-score {
  width: 40%;
}

.leaderboard-btn {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.leaderboard-btn:hover {
  background-color: #0062cc;
}