.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

.leaderboard-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

.leaderboard-table {
  border-collapse: collapse;
  margin: 1rem 0;
  width: 80%;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 3px solid black;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.leaderboard-table th {
  background-color: #ffffff;
}

.leaderboard-table td:first-child {
  font-weight: bold;
}

.leaderboard-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.leaderboard-btn:hover {
  background-color: #3e8e41;
}
