.home-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-color: #973382;
}

.Auth-form-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Auth-form2 {
  width: 420px;
  box-shadow: 1px 1px 70px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  margin: 15vh auto 10vh;
}

.Auth-form-content2 {
  padding: 0 12%;
  color: #000;
}

.Auth-form-title2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #000;
  font-weight: 800;
}

.Auth-form-field2 {
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 3px solid #000;
  border-radius: 4px;
  background-color: #ffffff;
}

button.Auth-form-submit2 {
  text-align: center;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-color: #000000;
  border-radius: 4px;
  border: 2px solid #000;
  background-color: #933dc5;
  margin-left: 34px;
}

.Auth-form-submit2:hover {
  background-color: #973382;
}

.button2 {
  text-align: center;
  width: 85%;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 26px;
  margin-top: 15px;
  box-sizing: border-box;
  position: relative;
}

.button2:hover {
  background-color: #ffffff;
  z-index: 1;
}

.button2::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -26px;
  right: -26px;
  bottom: -15px;
  background-color: transparent;
  z-index: -1;
}