.home-button2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-color: #973382;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Auth-form {
  width: 440px;
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
  margin: auto; /* remember for me gio that this centers horizontally */
  margin-top: 30vh; /* this moves down from the top */
  margin-bottom: 10vh; /* this moves up from the bottom */
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 18%;
  color: black;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.Auth-form-field {
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 3px solid black; /*  this is reminder on how to add a solid black border */
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin-left: -10px;
}

button.Auth-form-submit {
  text-align: center;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
  border: 2px solid black;
  background-color: #933dc5;
  margin-left: 35px;
}

button.Auth-form-submit:hover {
  background-color: #973382; 
}

.button {
  text-align: center;
  width: 87%;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 24px;
  margin-top: 15px; 
}


button:hover {
  background-color: #bbbbbb;
}
