body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.question-text {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 4rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.answer-button {
  font-size: 3rem;
  padding: 4.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  width: 40%;
  margin-top: 3.5rem;
  margin-left: 7.9rem;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  position: relative;
}

.answer-button::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 5px;
  z-index: -1;
  background-image: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #8B00FF);
  background-size: 1000%;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}


.answer-button:hover {
  background-color: #b6b6b6;
}

.time-left {
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.results-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.results-score {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.restart-button {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  width: 40%;
  margin-top: 0.5rem; /* added to separate buttons */
  margin-left: 33rem;
}

.restart-button:hover {
  background-color: #a29ca5;
}

.score-result {
  font-size: 3.5rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}