/* .Quiz

body {
  background-color: #e0d1e9;
  font-family: "Arial", sans-serif;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin-top: 40px;
  color: #aa5daf;
  text-shadow: 1px 1px #e6e6e6;
}

p {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin: 20px auto;
}

button {
  display: block;
  margin: 20px auto;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #e6e6e6;
  cursor: pointer;
  background-color: #aa5daf;
  color: #fff;
  text-shadow: 1px 1px #e6e6e6;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: #b38cb2;
  box-shadow: 2px 2px 10px #e6e6e6;
}

button:focus {
  outline: none;
}

p.score {
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  color: #aa5daf;
  text-shadow: 1px 1px #e6e6e6;
}

p.time {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: #aa5daf;
  text-shadow: 1px 1px #e6e6e6;
}

.quiz-container {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #e6e6e6;
}

.quiz-container p {
  color: #555;
}

.quiz-container button {
  background-color: #b38cb2;
  color: #333;
  text-shadow: none;
}

.quiz-container button:hover {
  background-color: #aa5daf;
  color: #fff;
  box-shadow: 2px 2px 10px #e6e6e6;
} */
